<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
  <div data-aos="fade-up" *ngFor="let item of analytics" data-aos-duration="1000"  class="bg-white p-5 flex jucstify-center items-center gap-4 rounded-xl shadow">
    <div class="text-3xl  ">
      <span *ngIf="item.itemName === 'itemName 1'">📈</span>
      <span *ngIf="item.itemName === 'itemName 2'">📈</span>
      <span *ngIf="item.itemName === 'itemName 3'">🛒</span>
      <span *ngIf="item.itemName === 'itemName 4'">👤</span>
    </div>
    <div  >
      <div class=" mb-[10px] ">
        <h4 class="text-gray-500 text-[16px]" >
          {{ item.itemName }}
        </h4>
      </div>
      <div >
        <h2 class="text-xl font-semibold" >
          ${{ item.value }}
        </h2>
      </div>
    </div>
    <div class="text-end mt-auto" >
      <div class="flex  mt-auto">
        <h2 *ngIf="item.predcentP" class="bg-green-500 text-white px-2 rounded-full flex justify-center items-center text-sm">
          %{{ item.predcentP }}
        </h2>
      </div>
    </div>
  </div>

</div>
