<header data-aos="fade-right" data-aos-duration="1000"   class="bg-white shadow p-4 flex justify-between items-center">
  <!-- <h1 class="text-xl font-bold">Admin Dashboard</h1> -->
  <div class="flex items-center w-[60%] relative">
    <i class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
    <input
      type="text"
      placeholder="Search..."
      class="w-full border-none rounded-[10px] pl-10 pr-2 py-2 outline-blue-500 text-sm bg-[#F8FAFB]"
    />
  </div>

  <div class="flex flex-row-reverse items-center gap-4"   >
    <div class="w-8 h-8 rounded-full bg-gray-300">
      <img class="w-full h-full rounded-full " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjDGMp734S91sDuUFqL51_xRTXS15iiRoHew&s" alt="Image Profile">
    </div>
    <div>
      <h2 class="text-sm font-bold">John Doe</h2>
      <p class="text-xs text-gray-500">Admin</p>
    </div>
    <div class="w-8 h-8 flex justify-center items-center relative rounded-full bg-gray-300">
      <i class="fa-regular fa-bell"></i>
      <div class="absolute top-0 right-0 w-2 h-2 bg-red-500 rounded-full" ></div>
    </div>

  </div>
</header>
